		.bee-row,
		.bee-row-content {
			position: relative
		}

		.bee-button-content,
		.bee-row-21 .bee-col-4 .bee-block-2,
		.bee-row-21 .bee-col-4 .bee-block-2 .bee-button-container {
			text-align: center
		}

		body {
			background-color: #f80707;
			color: #eeeeee;
			font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif
		}

		.bee-row-10 .bee-col-1 .bee-block-3 a,
		.bee-row-10 .bee-col-1 .bee-block-4 a,
		.bee-row-10 .bee-col-1 .bee-block-5 a,
		.bee-row-10 .bee-col-1 .bee-block-7 a,
		.bee-row-10 .bee-col-2 .bee-block-11 a,
		.bee-row-10 .bee-col-2 .bee-block-13 a,
		.bee-row-10 .bee-col-2 .bee-block-15 a,
		.bee-row-10 .bee-col-2 .bee-block-3 a,
		.bee-row-10 .bee-col-2 .bee-block-5 a,
		.bee-row-10 .bee-col-2 .bee-block-7 a,
		.bee-row-10 .bee-col-2 .bee-block-9 a,
		.bee-row-13 .bee-col-1 .bee-block-3 a,
		.bee-row-13 .bee-col-2 .bee-block-3 a,
		.bee-row-13 .bee-col-3 .bee-block-3 a,
		.bee-row-2 .bee-col-1 .bee-block-2 a,
		.bee-row-2 .bee-col-1 .bee-block-4 a,
		.bee-row-4 .bee-col-2 .bee-block-2 a,
		.bee-row-4 .bee-col-2 .bee-block-3 a,
		.bee-row-4 .bee-col-2 .bee-block-4 a,
		.bee-row-6 .bee-col-2 .bee-block-2 a,
		.bee-row-6 .bee-col-2 .bee-block-3 a,
		.bee-row-6 .bee-col-2 .bee-block-4 a,
		.bee-row-7 .bee-col-1 .bee-block-2 a,
		.bee-row-7 .bee-col-1 .bee-block-3 a,
		.bee-row-7 .bee-col-1 .bee-block-4 a,
		.bee-row-8 .bee-col-2 .bee-block-2 a,
		.bee-row-8 .bee-col-2 .bee-block-3 a,
		.bee-row-8 .bee-col-2 .bee-block-4 a,
		a {
			color: #eeeeee
		}

		* {
			box-sizing: border-box
		}

		body,
		h1,
		h2,
		h3,
		p {
			margin: 0
		}

		.bee-menu .bee-hamburger-trigger {
			display: none
		}

		.bee-row-content {
			max-width: 1280px;
			margin: 0 auto;
			display: flex
		}

		.bee-row-content.reverse,
		.bee-row-content.reverse .bee-col {
			-moz-transform: scale(1, -1);
			-webkit-transform: scale(1, -1);
			-o-transform: scale(1, -1);
			-ms-transform: scale(1, -1);
			transform: scale(1, -1)
		}

		.bee-row-content .bee-col-w2 {
			flex-basis: 16.6666666667%
		}

		.bee-row-content .bee-col-w3 {
			flex-basis: 25%
		}

		.bee-row-content .bee-col-w4 {
			flex-basis: 33.3333333333%
		}

		.bee-row-content .bee-col-w5 {
			flex-basis: 41.6666666667%
		}

		.bee-row-content .bee-col-w6 {
			flex-basis: 50%
		}

		.bee-row-content .bee-col-w7 {
			flex-basis: 58.3333333333%
		}

		.bee-row-content .bee-col-w8 {
			flex-basis: 66.6666666667%
		}

		.bee-row-21 .bee-col-4 .bee-block-2 div.label:not(.inline),
		.bee-row-21 .bee-col-4 .bee-block-2 label:not(.inline),
		.bee-row-content .bee-col-w12 {
			flex-basis: 100%
		}

		.bee-button a,
		.bee-icon .bee-icon-label-right a,
		.bee-menu ul li a {
			text-decoration: none
		}

		.bee-divider,
		.bee-image {
			overflow: auto
		}

		.bee-divider .center,
		.bee-image .bee-center {
			margin: 0 auto
		}

		.bee-row-10 .bee-col-1 .bee-block-1,
		.bee-row-13 .bee-col-1 .bee-block-1,
		.bee-row-13 .bee-col-2 .bee-block-1,
		.bee-row-13 .bee-col-3 .bee-block-1,
		.bee-row-2 .bee-col-2 .bee-block-1,
		.bee-row-21 .bee-col-4 .bee-block-2 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-4 .bee-col-1 .bee-block-1,
		.bee-row-6 .bee-col-1 .bee-block-1,
		.bee-row-7 .bee-col-2 .bee-block-1,
		.bee-row-8 .bee-col-1 .bee-block-1 {
			width: 100%
		}

		.bee-form .bee-form-row .bee-field {
			padding: 3px;
			display: flex;
			flex: 1;
			flex-wrap: wrap;
			align-items: center
		}

		.bee-form .bee-form-row .bee-field input:not([type=checkbox]):not([type=radio]) {
			flex-grow: 1;
			font-family: inherit;
			font-size: inherit
		}

		.bee-form .bee-form-row .bee-field input[type=checkbox]:not(:first-of-type) {
			margin-left: 15px
		}

		.bee-form .bee-form-row .bee-field button {
			font-family: inherit;
			font-size: inherit;
			cursor: pointer
		}

		.bee-form .bee-form-row .bee-field .bee-button-container {
			flex-grow: 1
		}

		.bee-icon {
			display: inline-block;
			vertical-align: middle
		}

		.bee-icon .bee-content {
			display: flex;
			align-items: center
		}

		.bee-image img {
			display: block;
			width: 100%
		}

		.bee-menu .bee-hamburger-controls {
			cursor: pointer;
			display: inline-block;
			position: relative
		}

		.bee-menu .bee-hamburger-controls span {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			background-size: 100%;
			background-repeat: no-repeat;
			transition: .12s ease-in-out
		}

		.bee-menu ul {
			list-style-type: none;
			margin: 0;
			padding: 0
		}

		.bee-menu ul.bee-horizontal li {
			display: inline-block
		}

		.bee-paragraph {
			overflow-wrap: anywhere
		}

		.bee-social .icon img {
			max-height: 32px
		}

		.bee-row-1,
		.bee-row-12,
		.bee-row-13,
		.bee-row-14,
		.bee-row-5,
		.bee-row-6,
		.bee-row-7,
		.bee-row-8,
		.bee-row-9 {
			background-color: #cadfca;
			background-repeat: no-repeat
		}

		.bee-row-1 .bee-row-content,
		.bee-row-10 .bee-row-content,
		.bee-row-11 .bee-row-content,
		.bee-row-12 .bee-row-content,
		.bee-row-13 .bee-row-content,
		.bee-row-14 .bee-row-content,
		.bee-row-15 .bee-row-content,
		.bee-row-16 .bee-row-content,
		.bee-row-17 .bee-row-content,
		.bee-row-18 .bee-row-content,
		.bee-row-19 .bee-row-content,
		.bee-row-2 .bee-row-content,
		.bee-row-20 .bee-row-content,
		.bee-row-21 .bee-row-content,
		.bee-row-22 .bee-row-content,
		.bee-row-3 .bee-row-content,
		.bee-row-4 .bee-row-content,
		.bee-row-5 .bee-row-content,
		.bee-row-6 .bee-row-content,
		.bee-row-7 .bee-row-content,
		.bee-row-8 .bee-row-content,
		.bee-row-9 .bee-row-content {
			background-repeat: no-repeat;
			color: #000000
		}

		.bee-row-1 .bee-col-1 {
			padding: 30px 20px 20px
		}

		.bee-row-1 .bee-col-1 .bee-block-1,
		.bee-row-21 .bee-col-1 .bee-block-1 {
			padding-top: 5px;
			width: 100%
		}

		.bee-row-1 .bee-col-2,
		.bee-row-13 .bee-col-1,
		.bee-row-13 .bee-col-2,
		.bee-row-13 .bee-col-3,
		.bee-row-4 .bee-col-2,
		.bee-row-6 .bee-col-1,
		.bee-row-6 .bee-col-2,
		.bee-row-7 .bee-col-1,
		.bee-row-7 .bee-col-2,
		.bee-row-8 .bee-col-1,
		.bee-row-8 .bee-col-2 {
			padding: 20px
		}

		.bee-row-1 .bee-col-2 .bee-block-1 {
			color: #000000;
			font-family: inherit;
			font-size: 18px;
			text-align: right
		}

		.bee-row-2 {
			background-color: #02473c;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.bee-row-15 .bee-col-1,
		.bee-row-2 .bee-col-1 {
			padding: 60px 20px
		}

		.bee-row-10 .bee-col-1 .bee-block-4,
		.bee-row-10 .bee-col-1 .bee-block-5,
		.bee-row-4 .bee-col-1 {
			padding-left: 20px;
			padding-right: 20px
		}

		.bee-row-16 .bee-col-2 .bee-block-2,
		.bee-row-18 .bee-col-1 .bee-block-2,
		.bee-row-2 .bee-col-1 .bee-block-3 {
			padding-top: 10px;
			text-align: center;
			width: 100%
		}

		.bee-row-10 .bee-col-2 .bee-block-3,
		.bee-row-2 .bee-col-1 .bee-block-4,
		.bee-row-4 .bee-col-2 .bee-block-2,
		.bee-row-6 .bee-col-2 .bee-block-1,
		.bee-row-6 .bee-col-2 .bee-block-2,
		.bee-row-7 .bee-col-1 .bee-block-1,
		.bee-row-7 .bee-col-1 .bee-block-2,
		.bee-row-8 .bee-col-2 .bee-block-1,
		.bee-row-8 .bee-col-2 .bee-block-2 {
			padding-top: 40px
		}

		.bee-row-2 .bee-col-1 .bee-block-5 {
			padding-top: 40px;
			text-align: left
		}

		.bee-row-2 .bee-col-2 {
			padding-bottom: 60px;
			padding-top: 20px
		}

		.bee-row-10,
		.bee-row-11,
		.bee-row-15,
		.bee-row-16,
		.bee-row-17,
		.bee-row-18,
		.bee-row-19,
		.bee-row-3,
		.bee-row-4 {
			background-repeat: no-repeat
		}

		.bee-row-4 .bee-col-1 {
			padding-top: 20px
		}

		.bee-row-4 .bee-col-2 .bee-block-1 {
			padding-top: 20px;
			text-align: center;
			width: 100%
		}

		.bee-row-4 .bee-col-2 .bee-block-5,
		.bee-row-4 .bee-col-2 .bee-block-6,
		.bee-row-4 .bee-col-2 .bee-block-7 {
			color: #000000;
			font-family: inherit;
			font-size: 20px;
			padding-top: 40px;
			text-align: left
		}

		.bee-row-16 .bee-col-1 .bee-block-1,
		.bee-row-16 .bee-col-2 .bee-block-1,
		.bee-row-18 .bee-col-1 .bee-block-1,
		.bee-row-18 .bee-col-2 .bee-block-1 {
			font-family: Oswald, Arial, 'Helvetica Neue', Helvetica, sans-serif;
			color: #000000
		}

		.bee-row-10 .bee-col-2,
		.bee-row-12 .bee-col-1,
		.bee-row-5 .bee-col-1 {
			padding: 60px 20px 20px
		}

		.bee-row-15 .bee-col-1 .bee-block-1,
		.bee-row-5 .bee-col-1 .bee-block-1 {
			padding-top: 50px;
			text-align: center;
			width: 100%
		}

		.bee-row-10 .bee-col-1 {
			padding-bottom: 20px
		}

		.bee-row-10 .bee-col-1 .bee-block-2,
		.bee-row-10 .bee-col-1 .bee-block-6 {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 60px;
			text-align: center;
			width: 100%
		}

		.bee-row-10 .bee-col-1 .bee-block-3,
		.bee-row-10 .bee-col-1 .bee-block-7 {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 40px
		}

		.bee-row-10 .bee-col-2 .bee-block-1,
		.bee-row-10 .bee-col-2 .bee-block-2 {
			padding-top: 60px;
			text-align: center;
			width: 100%
		}

		.bee-row-10 .bee-col-2 .bee-block-10,
		.bee-row-10 .bee-col-2 .bee-block-12,
		.bee-row-10 .bee-col-2 .bee-block-14,
		.bee-row-10 .bee-col-2 .bee-block-4,
		.bee-row-10 .bee-col-2 .bee-block-6,
		.bee-row-10 .bee-col-2 .bee-block-8 {
			padding-bottom: 20px;
			padding-top: 20px
		}

		.bee-row-12 .bee-col-1 .bee-block-1 {
			padding-bottom: 20px;
			padding-top: 50px;
			text-align: center;
			width: 100%
		}

		.bee-row-13 .bee-col-1 .bee-block-2,
		.bee-row-13 .bee-col-2 .bee-block-2,
		.bee-row-13 .bee-col-3 .bee-block-2 {
			padding-top: 25px;
			text-align: center;
			width: 100%
		}

		.bee-row-13 .bee-col-1 .bee-block-3,
		.bee-row-13 .bee-col-2 .bee-block-3,
		.bee-row-13 .bee-col-3 .bee-block-3,
		.bee-row-21 .bee-col-1 .bee-block-3 {
			padding-top: 20px
		}

		.bee-row-16 .bee-col-1,
		.bee-row-18 .bee-col-2 {
			background-color: #cadfca;
			padding: 50px 20px
		}

		.bee-row-16 .bee-col-1 .bee-block-1,
		.bee-row-18 .bee-col-2 .bee-block-1 {
			font-size: 14px;
			text-align: left
		}

		.bee-row-16 .bee-col-1 .bee-block-2,
		.bee-row-18 .bee-col-2 .bee-block-2 {
			padding-top: 15px
		}

		.bee-row-16 .bee-col-2,
		.bee-row-18 .bee-col-1 {
			padding: 15px 20px
		}

		.bee-row-16 .bee-col-2 .bee-block-1 {
			font-size: 32px;
			text-align: left
		}

		.bee-row-18 .bee-col-1 .bee-block-1 {
			font-size: 32px;
			text-align: right
		}

		.bee-row-20,
		.bee-row-21,
		.bee-row-22 {
			background-color: #eeeeee;
			background-repeat: no-repeat
		}

		.bee-row-23,
		.bee-row-23 .bee-row-content {
			background-color: #ffffff;
			background-repeat: no-repeat
		}

		.bee-row-21 .bee-col-1,
		.bee-row-21 .bee-col-2,
		.bee-row-21 .bee-col-3,
		.bee-row-21 .bee-col-4 {
			padding: 25px
		}

		.bee-row-21 .bee-col-1 .bee-block-2 {
			padding-top: 25px
		}

		.bee-row-21 .bee-col-2 .bee-block-1,
		.bee-row-21 .bee-col-3 .bee-block-1,
		.bee-row-21 .bee-col-4 .bee-block-1 {
			text-align: center;
			width: 100%
		}

		.bee-row-21 .bee-col-2 .bee-block-2 {
			color: #eeeeee;
			font-family: inherit;
			font-size: 16px;
			padding-top: 20px;
			text-align: left
		}

		.bee-row-21 .bee-col-2 .bee-block-3 {
			padding-bottom: 10px;
			padding-top: 10px;
			text-align: left
		}

		.bee-row-21 .bee-col-3 .bee-block-2 {
			color: #eeeeee;
			font-family: inherit;
			font-size: 16px;
			padding-top: 15px;
			text-align: left
		}

		.bee-row-21 .bee-col-4 .bee-block-2 {
			font-family: inherit;
			font-size: 18px;
			padding-top: 25px
		}

		.bee-row-23 .bee-row-content {
			color: #000000
		}

		.bee-row-23 .bee-col-1 {
			padding-bottom: 5px;
			padding-top: 5px
		}

		.bee-row-23 .bee-col-1 .bee-block-1 {
			color: #1e0e4b;
			font-family: Inter, sans-serif;
			font-size: 15px;
			padding-bottom: 5px;
			padding-top: 5px;
			text-align: center
		}

		.bee-row-2 .bee-col-1 .bee-block-2 {
			color: #eeeeee;
			font-size: 24px;
			line-height: 120%;
			text-align: left
		}

		.bee-row-10 .bee-col-1 .bee-block-3 p:not(:last-child),
		.bee-row-10 .bee-col-1 .bee-block-4 p:not(:last-child),
		.bee-row-10 .bee-col-1 .bee-block-5 p:not(:last-child),
		.bee-row-10 .bee-col-1 .bee-block-7 p:not(:last-child),
		.bee-row-10 .bee-col-2 .bee-block-11 p:not(:last-child),
		.bee-row-10 .bee-col-2 .bee-block-13 p:not(:last-child),
		.bee-row-10 .bee-col-2 .bee-block-15 p:not(:last-child),
		.bee-row-10 .bee-col-2 .bee-block-3 p:not(:last-child),
		.bee-row-10 .bee-col-2 .bee-block-5 p:not(:last-child),
		.bee-row-10 .bee-col-2 .bee-block-7 p:not(:last-child),
		.bee-row-10 .bee-col-2 .bee-block-9 p:not(:last-child),
		.bee-row-13 .bee-col-1 .bee-block-3 p:not(:last-child),
		.bee-row-13 .bee-col-2 .bee-block-3 p:not(:last-child),
		.bee-row-13 .bee-col-3 .bee-block-3 p:not(:last-child),
		.bee-row-16 .bee-col-1 .bee-block-2 p:not(:last-child),
		.bee-row-18 .bee-col-2 .bee-block-2 p:not(:last-child),
		.bee-row-2 .bee-col-1 .bee-block-2 p:not(:last-child),
		.bee-row-2 .bee-col-1 .bee-block-4 p:not(:last-child),
		.bee-row-21 .bee-col-1 .bee-block-2 p:not(:last-child),
		.bee-row-21 .bee-col-1 .bee-block-3 p:not(:last-child),
		.bee-row-4 .bee-col-2 .bee-block-2 p:not(:last-child),
		.bee-row-4 .bee-col-2 .bee-block-3 p:not(:last-child),
		.bee-row-4 .bee-col-2 .bee-block-4 p:not(:last-child),
		.bee-row-6 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-6 .bee-col-2 .bee-block-2 p:not(:last-child),
		.bee-row-6 .bee-col-2 .bee-block-3 p:not(:last-child),
		.bee-row-6 .bee-col-2 .bee-block-4 p:not(:last-child),
		.bee-row-7 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-7 .bee-col-1 .bee-block-2 p:not(:last-child),
		.bee-row-7 .bee-col-1 .bee-block-3 p:not(:last-child),
		.bee-row-7 .bee-col-1 .bee-block-4 p:not(:last-child),
		.bee-row-8 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-8 .bee-col-2 .bee-block-2 p:not(:last-child),
		.bee-row-8 .bee-col-2 .bee-block-3 p:not(:last-child),
		.bee-row-8 .bee-col-2 .bee-block-4 p:not(:last-child) {
			margin-bottom: undefined
		}

		.bee-row-10 .bee-col-2 .bee-block-1 h2,
		.bee-row-2 .bee-col-1 .bee-block-3 h1,
		.bee-row-4 .bee-col-2 .bee-block-1 h2 {
			color: #eeeeee;
			direction: ltr;
			font-family: Oswald, Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 56px;
			font-weight: 700;
			letter-spacing: normal;
			line-height: 120%;
			text-align: left
		}
		
		
		.bee-row-2 .bee-col-1 .bee-block-3 h2{
			color: #eeeeee;
			direction: ltr;
			font-family: Oswald, Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 32px;
			font-weight: 200;
			letter-spacing: normal;
			line-height: 120%;
			text-align: left
		}

		.bee-row-1 .bee-col-2 .bee-block-1 li {
			padding: 5px 10px
		}

		.bee-row-1 .bee-col-2 .bee-block-1 li a,
		.bee-row-16 .bee-col-1 .bee-block-1 .bee-icon-label a,
		.bee-row-16 .bee-col-2 .bee-block-1 .bee-icon-label a,
		.bee-row-18 .bee-col-1 .bee-block-1 .bee-icon-label a,
		.bee-row-18 .bee-col-2 .bee-block-1 .bee-icon-label a,
		.bee-row-4 .bee-col-2 .bee-block-5 .bee-icon-label a,
		.bee-row-4 .bee-col-2 .bee-block-6 .bee-icon-label a,
		.bee-row-4 .bee-col-2 .bee-block-7 .bee-icon-label a {
			color: #000000
		}

		.bee-row-2 .bee-col-1 .bee-block-4 {
			color: #eeeeee;
			font-size: 20px;
			line-height: 120%;
			text-align: left
		}

		.bee-row-2 .bee-col-1 .bee-block-5 a {
			background-color: #529a54;
			border-bottom: 0 solid #8a3b8f;
			border-left: 0 solid #8a3b8f;
			border-radius: 60px;
			border-right: 0px solid #8a3b8f;
			border-top: 0 solid #8a3b8f;
			color: #ffffff;
			direction: ltr;
			font-family: inherit;
			font-size: 16px;
			font-weight: 400;
			line-height: 200%;
			padding: 5px 20px;
			width: auto
		}

		.bee-row-10 .bee-col-1 .bee-block-3,
		.bee-row-10 .bee-col-1 .bee-block-5,
		.bee-row-10 .bee-col-1 .bee-block-7,
		.bee-row-10 .bee-col-2 .bee-block-11,
		.bee-row-10 .bee-col-2 .bee-block-13,
		.bee-row-10 .bee-col-2 .bee-block-15,
		.bee-row-10 .bee-col-2 .bee-block-3,
		.bee-row-10 .bee-col-2 .bee-block-5,
		.bee-row-10 .bee-col-2 .bee-block-7,
		.bee-row-10 .bee-col-2 .bee-block-9,
		.bee-row-4 .bee-col-2 .bee-block-2,
		.bee-row-4 .bee-col-2 .bee-block-4,
		.bee-row-6 .bee-col-2 .bee-block-2,
		.bee-row-6 .bee-col-2 .bee-block-4,
		.bee-row-8 .bee-col-2 .bee-block-2,
		.bee-row-8 .bee-col-2 .bee-block-4 {
			color: #eeeeee;
			font-size: 20px;
			line-height: 150%;
			text-align: left
		}

		.bee-row-10 .bee-col-1 .bee-block-4,
		.bee-row-4 .bee-col-2 .bee-block-3,
		.bee-row-6 .bee-col-2 .bee-block-3,
		.bee-row-8 .bee-col-2 .bee-block-3 {
			color: #eeeeee;
			font-size: 14px;
			line-height: 150%;
			text-align: left
		}

		.bee-row-4 .bee-col-2 .bee-block-5 .bee-icon-image,
		.bee-row-4 .bee-col-2 .bee-block-6 .bee-icon-image,
		.bee-row-4 .bee-col-2 .bee-block-7 .bee-icon-image {
			padding: 0 20px 0 0
		}

		.bee-row-16 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
		.bee-row-16 .bee-col-2 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
		.bee-row-18 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
		.bee-row-18 .bee-col-2 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
		.bee-row-23 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
		.bee-row-4 .bee-col-2 .bee-block-5 .bee-icon:not(.bee-icon-first) .bee-content,
		.bee-row-4 .bee-col-2 .bee-block-6 .bee-icon:not(.bee-icon-first) .bee-content,
		.bee-row-4 .bee-col-2 .bee-block-7 .bee-icon:not(.bee-icon-first) .bee-content {
			margin-left: 0
		}

		.bee-row-4 .bee-col-2 .bee-block-6 .bee-icon::not(.bee-icon-last) .bee-content {
			margin-right: 0
		}

		.bee-row-4 .bee-col-2 .bee-block-5 .bee-icon::not(.bee-icon-last) .bee-content {
			margin-right: 0
		}

		.bee-row-12 .bee-col-1 .bee-block-1 h2,
		.bee-row-15 .bee-col-1 .bee-block-1 h2,
		.bee-row-5 .bee-col-1 .bee-block-1 h2 {
			color: #eeeeee;
			direction: ltr;
			font-family: Oswald, Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 56px;
			font-weight: 700;
			letter-spacing: normal;
			line-height: 120%;
			text-align: center
		}

		.bee-row-4 .bee-col-2 .bee-block-7 .bee-icon::not(.bee-icon-last) .bee-content {
			margin-right: 0
		}

		.bee-row-6 .bee-col-2 .bee-block-1,
		.bee-row-8 .bee-col-2 .bee-block-1 {
			color: #529a54;
			font-family: Oswald, Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 50px;
			line-height: 120%;
			text-align: left
		}

		.bee-row-16 .bee-col-1 .bee-block-2 a,
		.bee-row-18 .bee-col-2 .bee-block-2 a,
		.bee-row-6 .bee-col-2 .bee-block-1 a,
		.bee-row-7 .bee-col-1 .bee-block-1 a,
		.bee-row-8 .bee-col-2 .bee-block-1 a {
			color: #8a3b8f
		}

		.bee-row-7 .bee-col-1 .bee-block-1 {
			color: #529a54;
			font-family: Oswald, Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 50px;
			line-height: 120%;
			text-align: right
		}

		.bee-row-7 .bee-col-1 .bee-block-3 {
			color: #eeeeee;
			font-size: 14px;
			line-height: 150%;
			text-align: right
		}

		.bee-row-7 .bee-col-1 .bee-block-2,
		.bee-row-7 .bee-col-1 .bee-block-4 {
			color: #eeeeee;
			font-size: 20px;
			line-height: 150%;
			text-align: right
		}

		.bee-row-10 .bee-col-1 .bee-block-2 h2,
		.bee-row-10 .bee-col-1 .bee-block-6 h2,
		.bee-row-10 .bee-col-2 .bee-block-2 h2 {
			color: #529a54;
			direction: ltr;
			font-family: Oswald, Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 42px;
			font-weight: 700;
			letter-spacing: normal;
			line-height: 120%;
			text-align: left
		}

		.bee-row-13 .bee-col-1 .bee-block-2 h3,
		.bee-row-13 .bee-col-2 .bee-block-2 h3,
		.bee-row-13 .bee-col-3 .bee-block-2 h3 {
			color: #eeeeee;
			direction: ltr;
			font-family: Oswald, Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 32px;
			font-weight: 700;
			letter-spacing: normal;
			line-height: 120%;
			text-align: center
		}

		.bee-row-16 .bee-col-2 .bee-block-2 h3,
		.bee-row-18 .bee-col-1 .bee-block-2 h3 {
			font-size: 32px;
			font-weight: 400;
			line-height: 120%;
			direction: ltr;
			font-family: Oswald, Arial, "Helvetica Neue", Helvetica, sans-serif;
			letter-spacing: normal
		}

		.bee-row-13 .bee-col-1 .bee-block-3,
		.bee-row-13 .bee-col-2 .bee-block-3,
		.bee-row-13 .bee-col-3 .bee-block-3 {
			color: #eeeeee;
			font-size: 20px;
			line-height: 150%;
			text-align: center
		}

		.bee-row-16 .bee-col-1 .bee-block-1 .bee-icon-image,
		.bee-row-18 .bee-col-2 .bee-block-1 .bee-icon-image {
			padding: 5px 5px 5px 0
		}

		.bee-row-16 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
			margin-right: 0
		}

		.bee-row-16 .bee-col-2 .bee-block-1 .bee-icon-image,
		.bee-row-18 .bee-col-1 .bee-block-1 .bee-icon-image {
			padding: 5px
		}

		.bee-row-16 .bee-col-2 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
			margin-right: 0
		}

		.bee-row-16 .bee-col-1 .bee-block-2,
		.bee-row-18 .bee-col-2 .bee-block-2 {
			color: #0b0b0b;
			font-size: 20px;
			line-height: 150%;
			text-align: left
		}

		.bee-row-18 .bee-col-1 .bee-block-2 h3 {
			color: #0b0b0b;
			text-align: right
		}

		.bee-row-18 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
			margin-right: 0
		}

		.bee-row-16 .bee-col-2 .bee-block-2 h3 {
			color: #0b0b0b;
			text-align: left
		}

		.bee-row-18 .bee-col-2 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
			margin-right: 0
		}

		.bee-row-21 .bee-col-1 .bee-block-2 {
			color: #707070;
			font-size: 16px;
			line-height: 150%;
			text-align: left
		}

		.bee-row-21 .bee-col-1 .bee-block-2 a,
		.bee-row-21 .bee-col-2 .bee-block-2 li a,
		.bee-row-21 .bee-col-3 .bee-block-2 li a {
			color: #707070
		}

		.bee-row-21 .bee-col-1 .bee-block-3 {
			color: #707070;
			font-size: 16px;
			line-height: 120%;
			text-align: left
		}

		.bee-row-21 .bee-col-1 .bee-block-3 a {
			color: #eeeeee
		}

		.bee-row-21 .bee-col-2 .bee-block-1 h3,
		.bee-row-21 .bee-col-3 .bee-block-1 h3,
		.bee-row-21 .bee-col-4 .bee-block-1 h3 {
			color: #333333;
			direction: ltr;
			font-family: Oswald, Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 28px;
			font-weight: 700;
			letter-spacing: normal;
			line-height: 120%;
			text-align: left
		}

		.bee-row-21 .bee-col-2 .bee-block-2 li,
		.bee-row-21 .bee-col-3 .bee-block-2 li {
			padding-bottom: 10px;
			padding-top: 10px
		}

		@media (max-width:768px) {
			.bee-form form {
				width: 100% !important
			}

			.bee-menu ul.with-bee-hamburger {
				display: none;
				padding: 5px 0;
				position: relative;
				top: -4px
			}

			.bee-menu ul.with-bee-hamburger li {
				display: block;
				text-align: center
			}

			.bee-menu ul.with-bee-hamburger li a {
				text-decoration: none
			}

			.bee-menu ul.with-bee-hamburger span {
				display: none
			}

			#bee-hamburger-menu-r0c1m0:checked~ul,
			.bee-row-content:not(.no_stack) {
				display: block
			}

			.bee-row-1 .bee-col-2 .bee-block-1 .bee-hamburger-controls {
				width: 48px;
				height: 48px;
				background-color: #ffffff;
				border-radius: 50%
			}

			.bee-row-1 .bee-col-2 .bee-block-1 .bee-hamburger-controls span {
				width: 24px;
				height: 24px
			}

			.bee-row-1 .bee-col-2 .bee-block-1 .bee-hamburger-controls span.bee-hamburger-open {
				background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjNTI5YTU0IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgd2lkdGg9IjY0IiB5PSI1MiIvPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiIHk9IjI2Ii8+PC9nPjwvc3ZnPg==");
				transform: translate(-50%, -50%) scaleY(1)
			}

			.bee-row-1 .bee-col-2 .bee-block-1 .bee-hamburger-controls span.bee-hamburger-close {
				background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjNTI5YTU0IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB0cmFuc2Zvcm09Im1hdHJpeCgtLjcwNzEwNjc4IC0uNzA3MTA2NzggLjcwNzEwNjc4IC0uNzA3MTA2NzggMzEuOTkxMzc4IDc3LjIzNDAxOSkiIHdpZHRoPSI4MiIgeD0iLTkuMDA4NjIyIiB5PSIyNS45OTEzNzgiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgdHJhbnNmb3JtPSJtYXRyaXgoLS43MDcxMDY3OCAuNzA3MTA2NzggLS43MDcxMDY3OCAtLjcwNzEwNjc4IDc3LjgxOTgwNiAzMi4yMzQwMTkpIiB3aWR0aD0iODIiIHg9Ii04Ljc2NTk4MSIgeT0iMjYuMjM0MDE5Ii8+PC9nPjwvc3ZnPg==");
				transform: translate(-50%, -50%) scaleY(0)
			}

			.bee-row-1 .bee-col-2 .bee-block-1 ul.with-bee-hamburger {
				background-color: #ffffff
			}

			.bee-row-1 .bee-col-2 .bee-block-1 ul.with-bee-hamburger li,
			.bee-row-1 .bee-col-2 .bee-block-1 ul.with-bee-hamburger li a {
				color: #01a2ff
			}

			#bee-hamburger-menu-r0c1m0:checked~.bee-hamburger-controls .bee-hamburger-open {
				transform: translate(-50%, -50%) scaleY(0)
			}

			#bee-hamburger-menu-r0c1m0:checked~.bee-hamburger-controls .bee-hamburger-close {
				transform: translate(-50%, -50%) scaleY(1)
			}

			.bee-row-21 .bee-col-2 .bee-block-2 .bee-hamburger-controls,
			.bee-row-21 .bee-col-3 .bee-block-2 .bee-hamburger-controls {
				width: 36px;
				height: 36px;
				background-color: #d7fff3;
				border-radius: 50%
			}

			.bee-row-21 .bee-col-2 .bee-block-2 .bee-hamburger-controls span,
			.bee-row-21 .bee-col-3 .bee-block-2 .bee-hamburger-controls span {
				width: 18px;
				height: 18px
			}

			.bee-row-21 .bee-col-2 .bee-block-2 .bee-hamburger-controls span.bee-hamburger-open,
			.bee-row-21 .bee-col-3 .bee-block-2 .bee-hamburger-controls span.bee-hamburger-open {
				background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgd2lkdGg9IjY0IiB5PSI1MiIvPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiIHk9IjI2Ii8+PC9nPjwvc3ZnPg==");
				transform: translate(-50%, -50%) scaleY(1)
			}

			.bee-row-21 .bee-col-2 .bee-block-2 .bee-hamburger-controls span.bee-hamburger-close,
			.bee-row-21 .bee-col-3 .bee-block-2 .bee-hamburger-controls span.bee-hamburger-close {
				background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB0cmFuc2Zvcm09Im1hdHJpeCgtLjcwNzEwNjc4IC0uNzA3MTA2NzggLjcwNzEwNjc4IC0uNzA3MTA2NzggMzEuOTkxMzc4IDc3LjIzNDAxOSkiIHdpZHRoPSI4MiIgeD0iLTkuMDA4NjIyIiB5PSIyNS45OTEzNzgiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgdHJhbnNmb3JtPSJtYXRyaXgoLS43MDcxMDY3OCAuNzA3MTA2NzggLS43MDcxMDY3OCAtLjcwNzEwNjc4IDc3LjgxOTgwNiAzMi4yMzQwMTkpIiB3aWR0aD0iODIiIHg9Ii04Ljc2NTk4MSIgeT0iMjYuMjM0MDE5Ii8+PC9nPjwvc3ZnPg==");
				transform: translate(-50%, -50%) scaleY(0)
			}

			.bee-row-21 .bee-col-2 .bee-block-2 ul.with-bee-hamburger,
			.bee-row-21 .bee-col-3 .bee-block-2 ul.with-bee-hamburger {
				background-color: #d7fff3
			}

			.bee-row-21 .bee-col-2 .bee-block-2 ul.with-bee-hamburger li,
			.bee-row-21 .bee-col-2 .bee-block-2 ul.with-bee-hamburger li a,
			.bee-row-21 .bee-col-3 .bee-block-2 ul.with-bee-hamburger li,
			.bee-row-21 .bee-col-3 .bee-block-2 ul.with-bee-hamburger li a {
				color: #000000
			}
		}

		.bee-row-23 .bee-col-1 .bee-block-1 .bee-icon-image {
			padding: 5px 6px 5px 5px
		}

		.bee-row-23 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
			margin-right: 0
		}

		.bee-row-23 .bee-col-1 .bee-block-1 .bee-icon-label a {
			color: #1e0e4b
		}

		.bee-row-21 .bee-col-4 .bee-block-2 form {
			display: inline-block;
			width: 100%
		}

		.bee-row-21 .bee-col-4 .bee-block-2 div.label,
		.bee-row-21 .bee-col-4 .bee-block-2 label {
			color: #ffffff;
			line-height: 200%;
			text-align: left;
			display: block
		}

		.bee-row-21 .bee-col-4 .bee-block-2 ::-webkit-input-placeholder {
			color: #000000
		}

		.bee-row-21 .bee-col-4 .bee-block-2 :-moz-placeholder {
			color: #000000
		}

		.bee-row-21 .bee-col-4 .bee-block-2 ::-moz-placeholder {
			color: #000000
		}

		.bee-row-21 .bee-col-4 .bee-block-2 :-ms-input-placeholder {
			color: #000000
		}

		.bee-row-21 .bee-col-4 .bee-block-2 .bee-field>label:first-child,
		.bee-row-21 .bee-col-4 .bee-block-2 div.label {
			padding: 3px
		}

		.bee-row-21 .bee-col-4 .bee-block-2 input:not([type=checkbox]):not([type=radio]):not([type=image]) {
			background-color: #ffffff;
			border-bottom: 1px solid #FFFFFF;
			border-left: 1px solid #FFFFFF;
			border-radius: 4px;
			border-right: 1px solid #FFFFFF;
			border-top: 1px solid #FFFFFF;
			color: #000000;
			padding: 10px 5px;
			min-height: 56px
		}

		.bee-row-21 .bee-col-4 .bee-block-2 input:not([type=checkbox]):not([type=radio]):focus {
			outline-color: #000000
		}

		.bee-row-21 .bee-col-4 .bee-block-2 button {
			background-color: #529a54;
			border-bottom: 0 solid transparent;
			border-left: 0 solid transparent;
			border-radius: 60px;
			border-right: 0px solid transparent;
			border-top: 0 solid transparent;
			color: #ffffff;
			line-height: 200%;
			padding: 5px 25px;
			width: 100%
		}
/* Add a black background color to the top navigation */
       .topnav {
  background-color: #333333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #eeeeee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #eeeeee;
  color: #333333;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #02473c;
  color: #eeeeee;
}
